<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkML0101ENSkillsNetwork20718538-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align="center"><font size="5">Final Project: Classification with Python</font></h1>

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
    <li><a href="https://#Section_1">Instructions</a></li>
    <li><a href="https://#Section_2">About the Data</a></li>
    <li><a href="https://#Section_3">Importing Data </a></li>
    <li><a href="https://#Section_4">Data Preprocessing</a> </li>
    <li><a href="https://#Section_5">Transforming Categorical Variables </a></li>
    <li><a href="https://#Section_6">Train and Test Data Split </a></li>
    <li><a href="https://#Section_7">Train Linear Regression, KNN, Decision Tree, Logistic Regression, and SVM models and return their appropriate accuracy scores</a></li>
</a></li>
</div>
<p>Estimated Time Needed: <strong>180 min</strong></p>
</div>

<hr>

# Instructions

In this notebook, you will  practice all the classification algorithms that we learned in this course.

After completing this notebook, you will need to upload it to the "Submit Your Work and Review Your Peers" section of the Final Project module.

Below, is where we are going to use the classification algorithms to create a model based on our training data and evaluate our testing data using evaluation metrics learned in the course.

We will use some of the algorithms taught in the course, specifically:

1.  Linear Regression
2.  KNN
3.  Decision Trees
4.  Logistic Regression
5.  SVM

We will evaluate our models using:

1.  Accuracy Score
2.  Jaccard Index
3.  F1-Score
4.  LogLoss
5.  Mean Absolute Error
6.  Mean Squared Error
7.  R2-Score

Finally, you will use your models to generate the report displaying the accuracy scores.

# About The Dataset

The original source of the data is Australian Government's Bureau of Meteorology and the latest data can be gathered from [http://www.bom.gov.au/climate/dwo/](http://www.bom.gov.au/climate/dwo/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkML0101ENSkillsNetwork20718538-2022-01-01).

The dataset to be used has extra columns like 'RainToday' and our target is 'RainTomorrow', which was gathered from the Rattle at [https://bitbucket.org/kayontoga/rattle/src/master/data/weatherAUS.RData](https://bitbucket.org/kayontoga/rattle/src/master/data/weatherAUS.RData?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkML0101ENSkillsNetwork20718538-2022-01-01)

This dataset contains observations of weather metrics for each day from 2008 to 2017. The **weatherAUS.csv** dataset includes the following fields:

| Field         | Description                                           | Unit            | Type   |
| ------------- | ----------------------------------------------------- | --------------- | ------ |
| Date          | Date of the Observation in YYYY-MM-DD                 | Date            | object |
| Location      | Location of the Observation                           | Location        | object |
| MinTemp       | Minimum temperature                                   | Celsius         | float  |
| MaxTemp       | Maximum temperature                                   | Celsius         | float  |
| Rainfall      | Amount of rainfall                                    | Millimeters     | float  |
| Evaporation   | Amount of evaporation                                 | Millimeters     | float  |
| Sunshine      | Amount of bright sunshine                             | hours           | float  |
| WindGustDir   | Direction of the strongest gust                       | Compass Points  | object |
| WindGustSpeed | Speed of the strongest gust                           | Kilometers/Hour | object |
| WindDir9am    | Wind direction averaged of 10 minutes prior to 9am    | Compass Points  | object |
| WindDir3pm    | Wind direction averaged of 10 minutes prior to 3pm    | Compass Points  | object |
| WindSpeed9am  | Wind speed averaged of 10 minutes prior to 9am        | Kilometers/Hour | float  |
| WindSpeed3pm  | Wind speed averaged of 10 minutes prior to 3pm        | Kilometers/Hour | float  |
| Humidity9am   | Humidity at 9am                                       | Percent         | float  |
| Humidity3pm   | Humidity at 3pm                                       | Percent         | float  |
| Pressure9am   | Atmospheric pressure reduced to mean sea level at 9am | Hectopascal     | float  |
| Pressure3pm   | Atmospheric pressure reduced to mean sea level at 3pm | Hectopascal     | float  |
| Cloud9am      | Fraction of the sky obscured by cloud at 9am          | Eights          | float  |
| Cloud3pm      | Fraction of the sky obscured by cloud at 3pm          | Eights          | float  |
| Temp9am       | Temperature at 9am                                    | Celsius         | float  |
| Temp3pm       | Temperature at 3pm                                    | Celsius         | float  |
| RainToday     | If there was rain today                               | Yes/No          | object |
| RISK_MM       | Amount of rain tomorrow                               | Millimeters     | float  |
| RainTomorrow  | If there is rain tomorrow                             | Yes/No          | float  |

Column definitions were gathered from [http://www.bom.gov.au/climate/dwo/IDCJDW0000.shtml](http://www.bom.gov.au/climate/dwo/IDCJDW0000.shtml?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkML0101ENSkillsNetwork20718538-2022-01-01)

## **Import the required libraries**

In [1]:
# All Libraries required for this lab are listed below. The libraries pre-installed on Skills Network Labs are commented.
# !mamba install -qy pandas==1.3.4 numpy==1.21.4 seaborn==0.9.0 matplotlib==3.5.0 scikit-learn==0.20.1
# Note: If your environment doesn't support "!mamba install", use "!pip install"

In [2]:
# Surpress warnings:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

In [3]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn.metrics import jaccard_score
from sklearn.metrics import f1_score
from sklearn.metrics import log_loss
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix, accuracy_score
import sklearn.metrics as metrics

### Importing the Dataset

In [4]:
df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillUp/labs/ML-FinalAssignment/Weather_Data.csv')

df.head()

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2/1/2008,19.5,22.4,15.6,6.2,0.0,W,41,S,SSW,...,92,84,1017.6,1017.4,8,8,20.7,20.9,Yes,Yes
1,2/2/2008,19.5,25.6,6.0,3.4,2.7,W,41,W,E,...,83,73,1017.9,1016.4,7,7,22.4,24.8,Yes,Yes
2,2/3/2008,21.6,24.5,6.6,2.4,0.1,W,41,ESE,ESE,...,88,86,1016.7,1015.6,7,8,23.5,23.0,Yes,Yes
3,2/4/2008,20.2,22.8,18.8,2.2,0.0,W,41,NNE,E,...,83,90,1014.2,1011.8,8,8,21.4,20.9,Yes,Yes
4,2/5/2008,19.7,25.7,77.4,4.8,0.0,W,41,NNE,W,...,88,74,1008.3,1004.8,8,8,22.5,25.5,Yes,Yes

In [5]:
df.index

RangeIndex(start=0, stop=3271, step=1)

In [6]:
df.columns

Index(['Date', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [7]:
print(df.size, df.shape, df.ndim)#Return 1 if Series. Otherwise return 2 if DataFrame.

71962 (3271, 22) 2

### Data Preprocessing

In [8]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,3271.000000,3271.000000,3271.000000,3271.000000,3271.000000,3271.000000,3271.000000,3271.000000,3271.000000,3271.000000,3271.000000,3271.000000,3271.000000,3271.000000,3271.000000,3271.000000
mean,14.877102,23.005564,3.342158,5.175787,7.168970,41.476307,15.077041,19.294405,68.243962,54.698563,1018.334424,1016.003085,4.318557,4.176093,17.821461,21.543656
std,4.554710,4.483752,9.917746,2.757684,3.815966,10.806951,7.043825,7.453331,15.086127,16.279241,7.020090,7.019915,2.526923,2.411274,4.894316,4.297053
min,4.300000,11.700000,0.000000,0.000000,0.000000,17.000000,0.000000,0.000000,19.000000,10.000000,986.700000,989.800000,0.000000,0.000000,6.400000,10.200000
25%,11.000000,19.600000,0.000000,3.200000,4.250000,35.000000,11.000000,15.000000,58.000000,44.000000,1013.700000,1011.300000,2.000000,2.000000,13.800000,18.400000
50%,14.900000,22.800000,0.000000,4.800000,8.300000,41.000000,15.000000,19.000000,69.000000,56.000000,1018.600000,1016.300000,5.000000,4.000000,18.200000,21.300000
75%,18.800000,26.000000,1.400000,7.000000,10.200000,44.000000,20.000000,24.000000,80.000000,64.000000,1023.100000,1020.800000,7.000000,7.000000,21.700000,24.500000
max,27.600000,45.800000,119.400000,18.400000,13.600000,96.000000,54.000000,57.000000,100.000000,99.000000,1039.000000,1036.700000,9.000000,8.000000,36.500000,44.700000

In [9]:
df[['RainToday', 'WindGustDir', 'WindDir9am', 'WindDir3pm']].head()

  RainToday WindGustDir WindDir9am WindDir3pm
0       Yes           W          S        SSW
1       Yes           W          W          E
2       Yes           W        ESE        ESE
3       Yes           W        NNE          E
4       Yes           W        NNE          W

In [10]:
df.describe(include='all')

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
count,3271,3271.000000,3271.000000,3271.000000,3271.000000,3271.000000,3271,3271.000000,3271,3271,...,3271.000000,3271.000000,3271.000000,3271.000000,3271.000000,3271.000000,3271.000000,3271.000000,3271,3271
unique,3271,NaN,NaN,NaN,NaN,NaN,16,NaN,16,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2
top,4/4/2008,NaN,NaN,NaN,NaN,NaN,W,NaN,W,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No
freq,1,NaN,NaN,NaN,NaN,NaN,1425,NaN,1260,624,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2422,2422
mean,NaN,14.877102,23.005564,3.342158,5.175787,7.168970,NaN,41.476307,NaN,NaN,...,68.243962,54.698563,1018.334424,1016.003085,4.318557,4.176093,17.821461,21.543656,NaN,NaN
std,NaN,4.554710,4.483752,9.917746,2.757684,3.815966,NaN,10.806951,NaN,NaN,...,15.086127,16.279241,7.020090,7.019915,2.526923,2.411274,4.894316,4.297053,NaN,NaN
min,NaN,4.300000,11.700000,0.000000,0.000000,0.000000,NaN,17.000000,NaN,NaN,...,19.000000,10.000000,986.700000,989.800000,0.000000,0.000000,6.400000,10.200000,NaN,NaN
25%,NaN,11.000000,19.600000,0.000000,3.200000,4.250000,NaN,35.000000,NaN,NaN,...,58.000000,44.000000,1013.700000,1011.300000,2.000000,2.000000,13.800000,18.400000,NaN,NaN
50%,NaN,14.900000,22.800000,0.000000,4.800000,8.300000,NaN,41.000000,NaN,NaN,...,69.000000,56.000000,1018.600000,1016.300000,5.000000,4.000000,18.200000,21.300000,NaN,NaN
75%,NaN,18.800000,26.000000,1.400000,7.000000,10.200000,NaN,44.000000,NaN,NaN,...,80.000000,64.000000,1023.100000,1020.800000,7.000000,7.000000,21.700000,24.500000,NaN,NaN
max,NaN,27.600000,45.800000,119.400000,18.400000,13.600000,NaN,96.000000,NaN,NaN,...,100.000000,99.000000,1039.000000,1036.700000,9.000000,8.000000,36.500000,44.700000,NaN,NaN

In [11]:
#x= preprocessing.StandardScaler().fit(df).transform(df.astype(float))

#### Transforming Categorical Variables

First, we need to convert categorical variables to binary variables. We will use pandas `get_dummies()` method for this.

In [12]:
df_sydney_processed = pd.get_dummies(data=df, columns=['RainToday', 'WindGustDir', 'WindDir9am', 'WindDir3pm'])
#convert categorical variable into dummy/indicator variables.

Next, we replace the values of the 'RainTomorrow' column changing them from a categorical column to a binary column. We do not use the `get_dummies` method because we would end up with two columns for 'RainTomorrow' and we do not want, since 'RainTomorrow' is our target.

In [13]:
df_sydney_processed.replace(['No', 'Yes'], [0,1], inplace=True)

In [14]:
df_sydney_processed.head()

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,...,WindDir3pm_NNW,WindDir3pm_NW,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW
0,2/1/2008,19.5,22.4,15.6,6.2,0.0,41,17,20,92,...,0,0,0,0,0,1,0,0,0,0
1,2/2/2008,19.5,25.6,6.0,3.4,2.7,41,9,13,83,...,0,0,0,0,0,0,0,0,0,0
2,2/3/2008,21.6,24.5,6.6,2.4,0.1,41,17,2,88,...,0,0,0,0,0,0,0,0,0,0
3,2/4/2008,20.2,22.8,18.8,2.2,0.0,41,22,20,83,...,0,0,0,0,0,0,0,0,0,0
4,2/5/2008,19.7,25.7,77.4,4.8,0.0,41,11,6,88,...,0,0,0,0,0,0,0,1,0,0

In [15]:
df_sydney_processed['Rainfall'].head()

0    15.6
1     6.0
2     6.6
3    18.8
4    77.4
Name: Rainfall, dtype: float64

### Training Data and Test Data

Now, we set our 'features' or x values and our Y or target variable.

In [16]:
df_sydney_processed.drop('Date',axis=1,inplace=True)

In [17]:
df_sydney_processed = df_sydney_processed.astype(float)

In [18]:
features = df_sydney_processed.drop(columns='RainTomorrow', axis=1)
Y = df_sydney_processed['RainTomorrow']#raintomorrow is y

In [19]:
df_sydney_processed.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,...,WindDir3pm_NNW,WindDir3pm_NW,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW
0,19.5,22.4,15.6,6.2,0.0,41.0,17.0,20.0,92.0,84.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,19.5,25.6,6.0,3.4,2.7,41.0,9.0,13.0,83.0,73.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,21.6,24.5,6.6,2.4,0.1,41.0,17.0,2.0,88.0,86.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,20.2,22.8,18.8,2.2,0.0,41.0,22.0,20.0,83.0,90.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,19.7,25.7,77.4,4.8,0.0,41.0,11.0,6.0,88.0,74.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

### Linear Regression

#### Q1) Use the `train_test_split` function to split the `features` and `Y` dataframes with a `test_size` of `0.2` and the `random_state` set to `10`.

In [20]:
#Enter Your Code, Execute and take the Screenshot
#Around 80% of the entire dataset will be used for training and 20% for testing.
from sklearn.model_selection import train_test_split

In [21]:
x_train, x_test, y_train, y_test = train_test_split( features, Y, test_size=0.2, random_state=10)

In [22]:
print ('Train set:', x_train.shape,  y_train.shape)
print ('Test set:', x_test.shape,  y_test.shape)

Train set: (2616, 66) (2616,)
Test set: (655, 66) (655,)

#### Q2) Create and train a Linear Regression model called LinearReg using the training data (`x_train`, `y_train`).

In [23]:
#Enter Your Code, Execute and take the Screenshot
from sklearn import linear_model

In [24]:
LinearReg = linear_model.LinearRegression()
x = np.asanyarray(x_train)
y = np.asanyarray(y_train)

In [25]:
LinearReg.fit(x, y)

LinearRegression()

In [26]:
print ('Coefficients: ', LinearReg.coef_)

Coefficients:  [-2.36925393e-02  1.30071263e-02  7.29850349e-04  6.49004230e-03
 -3.51634515e-02  4.23738292e-03  1.82950693e-03  7.90569991e-04
  9.56111342e-04  8.56093260e-03  7.69845555e-03 -9.24477779e-03
 -8.86689873e-03  1.00428978e-02  1.44653625e-02 -3.48096005e-03
  1.11994049e+10  1.11994049e+10 -2.22756846e+09 -2.22756846e+09
 -2.22756846e+09 -2.22756846e+09 -2.22756846e+09 -2.22756846e+09
 -2.22756846e+09 -2.22756846e+09 -2.22756846e+09 -2.22756846e+09
 -2.22756846e+09 -2.22756846e+09 -2.22756846e+09 -2.22756846e+09
 -2.22756846e+09 -2.22756846e+09  9.26835840e+09  9.26835840e+09
  9.26835840e+09  9.26835840e+09  9.26835840e+09  9.26835840e+09
  9.26835840e+09  9.26835840e+09  9.26835840e+09  9.26835840e+09
  9.26835840e+09  9.26835840e+09  9.26835840e+09  9.26835840e+09
  9.26835840e+09  9.26835840e+09  4.40422222e+09  4.40422222e+09
  4.40422222e+09  4.40422222e+09  4.40422222e+09  4.40422222e+09
  4.40422222e+09  4.40422222e+09  4.40422222e+09  4.40422222e+09
  4.40422222e+09  4.40422222e+09  4.40422222e+09  4.40422222e+09
  4.40422222e+09  4.40422222e+09]

In [27]:
print ('Intercept: ',LinearReg.intercept_)

Intercept:  -22644417082.230453

#### Q3) Now use the `predict` method on the testing data (`x_test`) and save it to the array `predictions`.

In [28]:
#Enter Your Code, Execute and take the Screenshot

In [29]:
predictions =  LinearReg.predict(x_test)
#predictions

In [30]:
x = np.asanyarray(x_test)
y = np.asanyarray(y_test)

#### Q4) Using the `predictions` and the `y_test` dataframe calculate the value for each metric using the appropriate function.

In [31]:
#Enter Your Code, Execute and take the Screenshot
from sklearn.metrics import r2_score

In [32]:
LinearRegression_MAE =np.mean(np.absolute(predictions - y))#Mean absolute error
LinearRegression_MSE =np.mean((predictions- y) ** 2) #Residual sum of squares
LinearRegression_R2 =r2_score(y , predictions)#R2-score

In [33]:
print("Mean absolute error: %.2f" %LinearRegression_MAE)
print("Residual sum of squares (MSE): %.2f" %LinearRegression_MSE)
print("R2-score: %.2f" % LinearRegression_R2)

Mean absolute error: 0.26
Residual sum of squares (MSE): 0.12
R2-score: 0.43

#### Q5) Show the MAE, MSE, and R2 in a tabular format using data frame for the linear model.

In [34]:
#Enter Your Code, Execute and take the Screenshot
data = [['Mean absolute error',np.mean(np.absolute(predictions - y))],['Residual sum of squares (MSE)',np.mean((predictions- y) ** 2)],
        ['R2-score',r2_score(y , predictions)]]
Report = pd.DataFrame(data,columns=['Metric','Value'])

print(Report)

                          Metric     Value
0            Mean absolute error  0.256319
1  Residual sum of squares (MSE)  0.115722
2                       R2-score  0.427126

### KNN

#### Q6) Create and train a KNN model called KNN using the training data (`x_train`, `y_train`) with the `n_neighbors` parameter set to `4`.

In [35]:
#Enter Your Code, Execute and take the Screenshot
k = 4

KNN = KNeighborsClassifier(n_neighbors = k).fit(x_train,y_train)

#### Q7) Now use the `predict` method on the testing data (`x_test`) and save it to the array `predictions`.

In [36]:
#Enter Your Code, Execute and take the Screenshot

In [37]:
predictions = KNN.predict(x_test)

predictions[0:5]

array([0., 0., 1., 0., 0.])

#### Q8) Using the `predictions` and the `y_test` dataframe calculate the value for each metric using the appropriate function.

In [38]:
#Enter Your Code, Execute and take the Screenshot
from sklearn.metrics import jaccard_score
from sklearn.metrics import classification_report, confusion_matrix

In [39]:
#print (classification_report(y_test, predictions))

In [40]:
KNN_Accuracy_Score = metrics.accuracy_score(y_test, predictions)
KNN_JaccardIndex = jaccard_score(y_test, predictions,pos_label=0)#If the predicted labels matches with the true set of labels, then the subset accuracy is 1.0; otherwise it is 0.0.
KNN_F1_Score = f1_score(y_test, predictions)

#classification_report(y_test, predictions)

In [41]:
print("Test set Accuracy: ",KNN_Accuracy_Score)
print("Jaccard Index: ",KNN_JaccardIndex )
print("F1 Score: ",KNN_F1_Score )

Test set Accuracy:  0.8183206106870229
Jaccard Index:  0.7901234567901234
F1 Score:  0.5966101694915255

### Decision Tree

#### Q9) Create and train a Decision Tree model called Tree using the training data (`x_train`, `y_train`).

In [42]:
#Enter Your Code, Execute and take the Screenshot

In [43]:
Tree =  DecisionTreeClassifier(criterion="entropy")

In [44]:
Tree.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy')

#### Q10) Now use the `predict` method on the testing data (`x_test`) and save it to the array `predictions`.

In [45]:
#Enter Your Code, Execute and take the Screenshot

In [46]:
predictions = Tree.predict(x_test)
#predictions

#### Q11) Using the `predictions` and the `y_test` dataframe calculate the value for each metric using the appropriate function.

In [47]:
#Enter Your Code, Execute and take the Screenshot

In [48]:
import sklearn.tree as tree

#tree.plot_tree(Tree)
#plt.show()

In [49]:
Tree_Accuracy_Score = metrics.accuracy_score(y_test, predictions)
Tree_JaccardIndex = jaccard_score(y_test, predictions,pos_label=0)
Tree_F1_Score =  f1_score(y_test, predictions)

In [50]:
print("DecisionTrees's Accuracy: ", Tree_Accuracy_Score)
print("Jaccard Index: ",Tree_JaccardIndex)
print("F1 Score: ",Tree_F1_Score )

DecisionTrees's Accuracy:  0.7648854961832061
Jaccard Index:  0.716390423572744
F1 Score:  0.5925925925925926

### Logistic Regression

#### Q12) Use the `train_test_split` function to split the `features` and `Y` dataframes with a `test_size` of `0.2` and the `random_state` set to `1`.

In [51]:
#Enter Your Code, Execute and take the Screenshot

In [52]:
x_train, x_test, y_train, y_test = train_test_split( features, Y,test_size=0.2, random_state=1)

#### Q13) Create and train a LogisticRegression model called LR using the training data (`x_train`, `y_train`) with the `solver` parameter set to `liblinear`.

In [53]:
#Enter Your Code, Execute and take the Screenshot

In [54]:
LR =  LogisticRegression(C=0.01, solver='liblinear').fit(x_train,y_train)

#### Q14) Now, use the `predict` method on the testing data (`x_test`) and save it to the array `predictions`.

In [55]:
#Enter Your Code, Execute and take the Screenshot

In [56]:
predictions = LR.predict(x_test)

#### Q15) Using the `predictions` and the `y_test` dataframe calculate the value for each metric using the appropriate function.

In [57]:
#Enter Your Code, Execute and take the Screenshot
from sklearn.metrics import log_loss

In [58]:
LR_Accuracy_Score =metrics.accuracy_score(y_test, predictions) 
LR_JaccardIndex = jaccard_score(y_test, predictions,pos_label=0)
LR_F1_Score = f1_score(y_test, predictions)
LR_Log_Loss = log_loss(y_test, predictions)

In [59]:
print("Accuracy: ", LR_Accuracy_Score)
print("Jaccard Index: ",LR_JaccardIndex)
print("F1 Score: ",LR_F1_Score )
print("Log Loss: ",LR_Log_Loss )

Accuracy:  0.8274809160305343
Jaccard Index:  0.7941712204007286
F1 Score:  0.6523076923076923
Log Loss:  5.958643233175305

### SVM

#### Q16) Create and train a SVM model called SVM using the training data (`x_train`, `y_train`).

In [60]:
#Enter Your Code, Execute and take the Screenshot

In [61]:
SVM = svm.SVC()

SVM.fit(x_train, y_train)

SVC()

#### Q17) Now use the `predict` method on the testing data (`x_test`) and save it to the array `predictions`.

In [62]:
#Enter Your Code, Execute and take the Screenshot

In [63]:
predictions = SVM.predict(x_test)

#### Q18) Using the `predictions` and the `y_test` dataframe calculate the value for each metric using the appropriate function.

In [64]:
SVM_Accuracy_Score = metrics.accuracy_score(y_test,predictions) 
SVM_JaccardIndex = jaccard_score(y_test,predictions)
SVM_F1_Score = f1_score(y_test, predictions)

In [65]:
print("Accuracy: ", SVM_Accuracy_Score)
print("Jaccard Index: ",SVM_JaccardIndex)
print("F1 Score: ",SVM_F1_Score )

Accuracy:  0.7221374045801526
Jaccard Index:  0.0
F1 Score:  0.0

### Report

#### Q19) Show the Accuracy,Jaccard Index,F1-Score and LogLoss in a tabular format using data frame for all of the above models.

\*LogLoss is only for Logistic Regression Model

In [66]:
#Enter Your Code, Execute and take the Screenshot

In [67]:
data = [['KNN',KNN_Accuracy_Score,KNN_JaccardIndex,KNN_F1_Score,'N/A'],
        ['Decision Tree',Tree_Accuracy_Score,Tree_JaccardIndex,Tree_F1_Score,'N/A'],
        ['Logistic Regression',LR_Accuracy_Score,LR_JaccardIndex,LR_F1_Score,LR_Log_Loss],
        ['SVM',SVM_Accuracy_Score,SVM_JaccardIndex,SVM_F1_Score,'N/A']]
Report = pd.DataFrame(data,columns=['Model','Accuracy','Jaccard Index','F1-Score','LogLoss'])

print(Report)

                 Model  Accuracy  Jaccard Index  F1-Score   LogLoss
0                  KNN  0.818321       0.790123  0.596610       N/A
1        Decision Tree  0.764885       0.716390  0.592593       N/A
2  Logistic Regression  0.827481       0.794171  0.652308  5.958643
3                  SVM  0.722137       0.000000  0.000000       N/A

<h2 id="Section_5">  How to submit </h2>

<p>Once you complete your notebook you will have to share it. You can download the notebook by navigating to "File" and clicking on "Download" button.

<p>This will save the (.ipynb) file on your computer. Once saved, you can upload this file in the "My Submission" tab, of the "Peer-graded Assignment" section.

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkML0101ENSkillsNetwork20718538-2022-01-01">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

### Other Contributors

<a href="https://www.linkedin.com/in/birlahimanshu/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkML0101ENSkillsNetwork20718538-2022-01-01" target="_blank">Himanshu Birla</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description          |
| ----------------- | ------- | ------------- | --------------------------- |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab         |
| 2022-06-22        | 2.0     | Lana K.       | Deleted GridSearch and Mock |
| <hr>              |         |               |                             |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>